{{include_file name='home/public/header' title='修改密码'}}
<style>
    body {
        background-color: #ffffff;
    }
    .container {
        min-height: 200px;
    }
</style>
</head>

<body>

<div class="container">
    <!-- /.row -->
    <div class="row">
        <form role="form" action="{{url('')}}" method="post">

            <input type="hidden" name="csrf-phprap" value="{{csrf_token()}}" />

            <div class="form-group">
                <label>用户昵称/账号</label>
                <input class="form-control" readonly type="text" value="{{$user->fullName}}">
            </div>

            <div class="form-group">
                <label>登录密码</label>
                <input class="form-control js_new_password" name="PasswordForm[new_password]" type="password" autocomplete="new-password" placeholder="登录密码，至少六位且必须同时包含数字和字母" value="" autocomplete="new-password" datatype="*" nullmsg="请填写登录密码" errormsg="请设置至少六位且同时包含数字和字母的密码">
            </div>

            <div class="form-group">
                <label>确认密码</label>
                <input class="form-control" type="password" placeholder="请再次输入登录密码" autocomplete="new-password" datatype="*" recheck="PasswordForm[new_password]" nullmsg="请输入确认密码" errormsg="确认密码与密码不一致">
            </div>

            <input type="hidden" id="js_submit" value="提交">

        </form>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#wrapper -->

<script>

$(function(){
    // 表单验证
    $("form").validateForm();
});

</script>

{{include_file name='home/public/footer'}}
