{{include_file name='home/public/header' title='编辑账户'}}
<style>
    body {
        background-color: #ffffff;
    }
    .container {
        min-height: 200px;
    }
</style>
</head>

<body>

<div class="container">
    <!-- /.row -->
    <div class="row">
        <form role="form" action="{{url('')}}" method="post">

            <input type="hidden" name="csrf-phprap" value="{{csrf_token()}}" />

            <div class="form-group">
                <label class="control-label">用户昵称</label>
                <input type="text" class="form-control js_name" name="ProfileForm[name]" value="{{$user->name}}" placeholder="必填，建议写真实姓名以方便识别" datatype="*2-10" nullmsg="请输入用户昵称" errormsg="请输入2-10个由字母或汉字组成的字符">
            </div>

            <div class="form-group">
                <label class="control-label">登录邮箱</label>
                <input type="text" class="form-control js_email" name="ProfileForm[email]" value="{{$user->email}}" placeholder="必填，该邮箱用于登录和接收通知" datatype="e" nullmsg="请输入登录邮箱" errormsg="请输入合法的邮箱地址">
            </div>

            <div class="form-group">
                <label class="control-label">会员状态 <a data-toggle="tooltip" data-placement="right" title="" class="btn-show-tips" data-original-title="禁用后用户将无法登录账户">
                    <i class="fa fa-info-circle"></i>
                </a></label>
                <div class="form-group">
                    {{foreach $user->statusLabels as $k2 => $v2}}
                    {{if $k2 !== $user::DELETED_STATUS}}
                    <label class="radio-inline">
                        <input type="radio" name="ProfileForm[status]" {{if $user->status == $k2}}checked{{/if}} value="{{$k2}}" > {{$v2}}
                    </label>
                    {{/if}}
                    {{/foreach}}
                </div>
            </div>

            <input type="hidden" id="js_submit" value="提交">

        </form>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#wrapper -->

<script>

$(function(){
    // 表单验证
    $("form").validateForm();
});

</script>

{{include_file name='home/public/footer'}}
