{{include_file name='home/public/header' title='通过审核'}}
<style>
    body {
        background-color: #ffffff;
    }
</style>
</head>

<body>

<div class="container">

    <!-- /.row -->
    <div class="row">
        <form role="form" action="{{url()}}" method="post">

            <input type="hidden" name="csrf-phprap" value="{{csrf_token()}}" />

            <div class="well">
                <p class="text-muted"><label>项目名称：</label>{{$project->title}}</p>
                <p class="text-muted"><label>项目创建人：</label>{{$project->creater->fullName}}</p>
                <p class="text-muted"><label>项目创建时间：</label>{{$project->created_at}}</p>
            </div>

            <input type="hidden" id="js_submit" value="提交">

        </form>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#wrapper -->

<script>

$(function () {
    // 表单验证
    $("form").validateForm();
});

</script>

{{include_file name='home/public/footer'}}
