<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Bootstrap Core JavaScript -->
<script src="{{STATIC_URL}}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}/plugins/layer/layer.min.js"></script>
<script src="{{STATIC_URL}}/plugins/metismenu/js/metisMenu.min.js"></script>

<script src="{{STATIC_URL}}/plugins/artdialog/js/dialog.min.js"></script>

<script src="{{STATIC_URL}}/plugins/validform/datatype.min.js?v={{STATIC_VERSION}}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{STATIC_URL}}/js/app.min.js?v={{STATIC_VERSION}}"></script>

</body>

</html>
