<div class="row">
<ul class="clearfix hidden-xs">

    <li {{if $step == 1}}class="active"{{/if}}>
        <div class="pic"><i class="fa fa-key fa-3x panel-fa"></i></div>
        <div class="name">环境检测</div>
        <div class="txt"></div>
        <div class="num">1</div>
    </li>

    <li {{if $step == 2}}class="active"{{/if}}>
        <div class="pic"><i class="fa fa-database fa-3x panel-fa"></i></div>
        <div class="name">数据库配置</div>
        <div class="txt"></div>
        <div class="num">2</div>
    </li>

    <li {{if $step == 3}}class="active"{{/if}}>
        <div class="pic"><i class="fa fa-user fa-3x panel-fa"></i></div>
        <div class="name">管理员配置</div>
        <div class="txt"></div>
        <div class="num">3</div>
    </li>

    <li {{if $step == 4}}class="active"{{/if}}>
        <div class="pic"><i class="fa fa-check fa-3x panel-fa"></i></div>
        <div class="name">安装完成</div>
        <div class="txt"></div>
        <div class="num">4</div>
    </li>

</ul>
</div>
<div class="line hidden-xs"></div>