<hr>
<p class="text-center">{{config('app.copyright')}}  已运行<span class="pass-time"></span></p>

<script>
    function get_pass_time(){
        window.setTimeout("get_pass_time()", 1000);
        BirthDay = new Date("{{$installed_at}}");//这个日期是可以修改的
        today = new Date();
        timeold = (today.getTime() - BirthDay.getTime());
        sectimeold = timeold/1000
        secondsold = Math.floor(sectimeold);
        msPerDay = 24*60*60*1000
        e_daysold = timeold/msPerDay
        daysold = Math.floor(e_daysold);
        e_hrsold = (e_daysold - daysold)*24;
        hrsold = Math.floor(e_hrsold);
        e_minsold = (e_hrsold - hrsold)*60;
        minsold = Math.floor((e_hrsold - hrsold)*60);
        seconds = Math.floor((e_minsold - minsold)*60);
        var runDate = daysold + "天" + hrsold + "小时" + minsold + "分" + seconds + "秒";
        $(".pass-time").text(runDate);
    }
    get_pass_time();
</script>

{{include_file name='home/public/footer'}}