<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <meta name="keywords" content="{{config('app.keywords')}}">
    <meta name="description" content="{{config('app.description')}}">
    <meta name="site" content="www.phprap.com">
    <meta name="version" content="{{APP_VERSION}}">
    <meta name="author" content="gouguoyin">
    <meta name="qq" content="245629560">

    <title>{{$title}}——{{config('app.name')}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Awesome Fonts -->
    <link href="{{STATIC_URL}}/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Validform -->
    <link href="{{STATIC_URL}}/plugins/validform/v5.3.2.min.css?v={{STATIC_VERSION}}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{STATIC_URL}}/css/app.min.css?v={{STATIC_VERSION}}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{STATIC_URL}}/js/jquery2.1.0.min.js"></script>
    <script src="{{STATIC_URL}}/plugins/validform/v5.3.2.min.js"></script>