{{include_file name='home/public/header' title='系统设置'}}

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='home/public/nav' sidebar='home/account/sidebar'}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">消息提示</h1>

                <div class="search">
                    <div class="well">
                        <h4>
                            {{if $flag == 'error'}}
                            <i class="fa fa-times-circle fa-fw"></i>
                            {{$message}}
                            {{else if $flag == 'success'}}
                            <i class="fa fa-check-circle fa-fw"></i>
                            {{$message}}，请选择下一步操作
                                <div class="clearfix" style="margin-top: 20px">
                                    <a href="{{$data.create_url}}" class="btn btn-warning">继续发布</a>
                                    <a href="{{$data.update_url}}" class="btn btn-success">返回编辑</a>
                                    <a href="{{$data.list_url}}" class="btn btn-primary">返回列表</a>

                                </div>
                            {{/if}}
                        </h4>

                        <div class="clearfix" style="margin: 20px 0">
                            <a href="javascript:history.back();">默认返回上一页</a>

                        （<em id="jumpTime">{{$time}}</em>秒后自动跳转）
                        </div>

                    </div>

                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>


        <!-- /.row -->

        <!-- /#page-wrapper -->

    </div>
    <hr>
    <p class="text-center">{{config('copyright')}}</p>
    <!-- /#wrapper -->

    <script>

        $(function(){
            var time = $("#jumpTime").text();
            var url  = "{{$url}}";
            if(!url){
                url = "javascript:history.back()";
            }
            var jumpInterval = setInterval(function(){
                time--;
                if (time < 1) time = 1;
                $("#jumpTime").text(time);
                if (time == 1) {
                    clearInterval(jumpInterval);
                    window.location.href = url;
                }
            }, 1000);

        });

//        $("#js_tipModal").modal('show');
    </script>


    {{include_file name='home/public/footer'}}
