
<ul class="nav nav-tabs">
    <li class="{{if $tab == 'home'}}active{{/if}}"><a href="{{url('home/project/show', ['id' => $project->encode_id, 'tab' => 'home'])}}">项目主页</a></li>

    {{if $project->hasAuth(['env' => 'look'])}}
    <li class="{{if $tab == 'env'}}active{{/if}}"><a href="{{url('home/project/show', ['id' => $project->encode_id, 'tab' => 'env'])}}">项目环境</a></li>
    {{/if}}

    {{if $project->hasAuth(['template' => 'look'])}}
    <li class="{{if $tab == 'template'}}active{{/if}}"><a href="{{url('home/project/show', ['id' => $project->encode_id, 'tab' => 'template'])}}">项目模板</a></li>
    {{/if}}
    
    {{if $project->hasAuth(['member' => 'look'])}}
    <li class="{{if $tab == 'member'}}active{{/if}}"><a href="{{url('home/project/show', ['id' => $project->encode_id, 'tab' => 'member'])}}">项目成员</a></li>
    {{/if}}

    {{if $project->hasAuth(['project' => 'history'])}}
    <li class="hidden-xs {{if $tab == 'history'}}active{{/if}}"><a href="{{url('home/project/show', ['id' => $project->encode_id, 'tab' => 'history'])}}">项目动态</a></li>
    {{/if}}
</ul>